<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Uppercase</key>
  <array>
    <string>Alif-adlam</string>
    <string>Daali-adlam</string>
    <string>Laam-adlam</string>
    <string>Miim-adlam</string>
    <string>Ba-adlam</string>
    <string>Sinnyiiyhe-adlam</string>
    <string>Pe-adlam</string>
    <string>Bhe-adlam</string>
    <string>Ra-adlam</string>
    <string>E-adlam</string>
    <string>Fa-adlam</string>
    <string>I-adlam</string>
    <string>O-adlam</string>
    <string>Dha-adlam</string>
    <string>Yhe-adlam</string>
    <string>Waw-adlam</string>
    <string>Nun-adlam</string>
    <string>Kaf-adlam</string>
    <string>Ya-adlam</string>
    <string>U-adlam</string>
    <string>Jiim-adlam</string>
    <string>Chi-adlam</string>
    <string>Ha-adlam</string>
    <string>Qaaf-adlam</string>
    <string>Ga-adlam</string>
    <string>Nya-adlam</string>
    <string>Tu-adlam</string>
    <string>Nha-adlam</string>
    <string>Va-adlam</string>
    <string>Kha-adlam</string>
    <string>Gbe-adlam</string>
    <string>Zal-adlam</string>
    <string>Kpo-adlam</string>
    <string>Sha-adlam</string>
  </array>
  <key>adlamNumbers</key>
  <array>
    <string>zero-adlam</string>
    <string>one-adlam</string>
    <string>two-adlam</string>
    <string>three-adlam</string>
    <string>four-adlam</string>
    <string>five-adlam</string>
    <string>six-adlam</string>
    <string>seven-adlam</string>
    <string>eight-adlam</string>
    <string>nine-adlam</string>
  </array>
  <key>nkoNumbers</key>
  <array>
    <string>zero-nko</string>
    <string>one-nko</string>
    <string>two-nko</string>
    <string>three-nko</string>
    <string>four-nko</string>
    <string>five-nko</string>
    <string>six-nko</string>
    <string>seven-nko</string>
    <string>eight-nko</string>
    <string>nine-nko</string>
  </array>
  <key>public.kern1.a-nko</key>
  <array>
    <string>a-nko</string>
    <string>a-nko.dant.fina</string>
    <string>a-nko.fina</string>
    <string>a-nko.init</string>
    <string>a-nko.medi</string>
  </array>
  <key>public.kern1.cha-nko</key>
  <array>
    <string>cha-nko</string>
    <string>cha-nko.dant.fina</string>
    <string>cha-nko.fina</string>
    <string>cha-nko.init</string>
    <string>cha-nko.medi</string>
  </array>
  <key>public.kern1.curveTL-adlam</key>
  <array>
    <string>e-adlam</string>
    <string>jiim-adlam</string>
    <string>laam-adlam</string>
    <string>miim-adlam</string>
    <string>waw-adlam</string>
    <string>zal-adlam</string>
  </array>
  <key>public.kern1.da-nko</key>
  <array>
    <string>da-nko</string>
    <string>da-nko.dant.fina</string>
    <string>da-nko.fina</string>
    <string>da-nko.init</string>
    <string>da-nko.medi</string>
  </array>
  <key>public.kern1.dblhumpL-adlam</key>
  <array>
    <string>nya-adlam</string>
    <string>qaaf-adlam</string>
  </array>
  <key>public.kern1.e-nko</key>
  <array>
    <string>e-nko</string>
    <string>e-nko.dant.fina</string>
    <string>e-nko.fina</string>
    <string>e-nko.init</string>
    <string>e-nko.medi</string>
  </array>
  <key>public.kern1.ee-nko</key>
  <array>
    <string>ee-nko</string>
    <string>ee-nko.dant.fina</string>
    <string>ee-nko.fina</string>
    <string>ee-nko.init</string>
    <string>ee-nko.medi</string>
  </array>
  <key>public.kern1.ee-nko.init</key>
  <array>
  </array>
  <key>public.kern1.fa-nko</key>
  <array>
    <string>fa-nko</string>
    <string>fa-nko.dant.fina</string>
    <string>fa-nko.fina</string>
    <string>fa-nko.init</string>
    <string>fa-nko.medi</string>
  </array>
  <key>public.kern1.gba-nko</key>
  <array>
    <string>gba-nko</string>
    <string>gba-nko.dant.fina</string>
    <string>gba-nko.fina</string>
    <string>gba-nko.init</string>
    <string>gba-nko.medi</string>
  </array>
  <key>public.kern1.ha-nko</key>
  <array>
    <string>ha-nko</string>
    <string>ha-nko.dant.fina</string>
    <string>ha-nko.fina</string>
    <string>ha-nko.init</string>
    <string>ha-nko.medi</string>
  </array>
  <key>public.kern1.i-nko</key>
  <array>
    <string>i-nko</string>
    <string>i-nko.dant.fina</string>
    <string>i-nko.fina</string>
    <string>i-nko.init</string>
    <string>i-nko.medi</string>
  </array>
  <key>public.kern1.ja-nko</key>
  <array>
    <string>ja-nko</string>
    <string>ja-nko.dant.fina</string>
    <string>ja-nko.fina</string>
    <string>ja-nko.init</string>
    <string>ja-nko.medi</string>
  </array>
  <key>public.kern1.ka-nko</key>
  <array>
    <string>ka-nko</string>
    <string>ka-nko.dant.fina</string>
    <string>ka-nko.fina</string>
    <string>ka-nko.init</string>
    <string>ka-nko.medi</string>
  </array>
  <key>public.kern1.la-nko</key>
  <array>
    <string>la-nko</string>
    <string>la-nko.dant.fina</string>
    <string>la-nko.fina</string>
    <string>la-nko.init</string>
    <string>la-nko.medi</string>
  </array>
  <key>public.kern1.ma-nko</key>
  <array>
    <string>ma-nko</string>
    <string>ma-nko.dant.fina</string>
    <string>ma-nko.fina</string>
    <string>ma-nko.init</string>
    <string>ma-nko.medi</string>
  </array>
  <key>public.kern1.n-nko</key>
  <array>
    <string>n-nko</string>
    <string>n-nko.dant.fina</string>
    <string>n-nko.fina</string>
    <string>n-nko.init</string>
    <string>n-nko.medi</string>
  </array>
  <key>public.kern1.na-nko</key>
  <array>
    <string>na-nko</string>
    <string>na-nko.dant.fina</string>
    <string>na-nko.fina</string>
    <string>na-nko.init</string>
    <string>na-nko.medi</string>
  </array>
  <key>public.kern1.nawoloso-nko</key>
  <array>
    <string>nawoloso-nko</string>
    <string>nawoloso-nko.dant.fina</string>
    <string>nawoloso-nko.fina</string>
    <string>nawoloso-nko.init</string>
    <string>nawoloso-nko.medi</string>
  </array>
  <key>public.kern1.nya-nko</key>
  <array>
    <string>nya-nko</string>
    <string>nya-nko.dant.fina</string>
    <string>nya-nko.fina</string>
    <string>nya-nko.init</string>
    <string>nya-nko.medi</string>
  </array>
  <key>public.kern1.nyawoloso-nko</key>
  <array>
    <string>nyawoloso-nko</string>
    <string>nyawoloso-nko.dant.fina</string>
    <string>nyawoloso-nko.fina</string>
    <string>nyawoloso-nko.init</string>
    <string>nyawoloso-nko.medi</string>
  </array>
  <key>public.kern1.o-nko</key>
  <array>
    <string>o-nko</string>
    <string>o-nko.dant.fina</string>
    <string>o-nko.fina</string>
    <string>o-nko.init</string>
    <string>o-nko.medi</string>
  </array>
  <key>public.kern1.oo-nko</key>
  <array>
    <string>oo-nko</string>
    <string>oo-nko.dant.fina</string>
    <string>oo-nko.fina</string>
    <string>oo-nko.init</string>
    <string>oo-nko.medi</string>
  </array>
  <key>public.kern1.pa-nko</key>
  <array>
    <string>pa-nko</string>
    <string>pa-nko.dant.fina</string>
    <string>pa-nko.fina</string>
    <string>pa-nko.init</string>
    <string>pa-nko.medi</string>
  </array>
  <key>public.kern1.ra-nko</key>
  <array>
    <string>ra-nko</string>
    <string>ra-nko.dant.fina</string>
    <string>ra-nko.fina</string>
    <string>ra-nko.init</string>
    <string>ra-nko.medi</string>
  </array>
  <key>public.kern1.rra-nko</key>
  <array>
    <string>rra-nko</string>
    <string>rra-nko.dant.fina</string>
    <string>rra-nko.fina</string>
    <string>rra-nko.init</string>
    <string>rra-nko.medi</string>
  </array>
  <key>public.kern1.sa-nko</key>
  <array>
    <string>sa-nko</string>
    <string>sa-nko.dant.fina</string>
    <string>sa-nko.fina</string>
    <string>sa-nko.init</string>
    <string>sa-nko.medi</string>
  </array>
  <key>public.kern1.ta-nko</key>
  <array>
    <string>ta-nko</string>
    <string>ta-nko.dant.fina</string>
    <string>ta-nko.fina</string>
    <string>ta-nko.init</string>
    <string>ta-nko.medi</string>
  </array>
  <key>public.kern1.u-nko</key>
  <array>
    <string>u-nko</string>
    <string>u-nko.dant.fina</string>
    <string>u-nko.fina</string>
    <string>u-nko.init</string>
    <string>u-nko.medi</string>
  </array>
  <key>public.kern1.wa-nko</key>
  <array>
    <string>wa-nko</string>
    <string>wa-nko.dant.fina</string>
    <string>wa-nko.fina</string>
    <string>wa-nko.init</string>
    <string>wa-nko.medi</string>
  </array>
  <key>public.kern1.ya-nko</key>
  <array>
    <string>ya-nko</string>
    <string>ya-nko.dant.fina</string>
    <string>ya-nko.fina</string>
    <string>ya-nko.init</string>
    <string>ya-nko.medi</string>
  </array>
  <key>public.kern2.a-nko</key>
  <array>
    <string>a-nko</string>
    <string>a-nko.dant.fina</string>
    <string>a-nko.fina</string>
    <string>a-nko.init</string>
    <string>a-nko.medi</string>
  </array>
  <key>public.kern2.ba-nko</key>
  <array>
    <string>ba-nko</string>
    <string>ba-nko.dant.fina</string>
    <string>ba-nko.fina</string>
    <string>ba-nko.init</string>
    <string>ba-nko.medi</string>
  </array>
  <key>public.kern2.curveTR-adlam</key>
  <array>
    <string>ba-adlam</string>
    <string>jiim-adlam</string>
    <string>miim-adlam</string>
    <string>o-adlam</string>
    <string>va-adlam</string>
    <string>zal-adlam</string>
  </array>
  <key>public.kern2.da-nko</key>
  <array>
    <string>da-nko</string>
    <string>da-nko.dant.fina</string>
    <string>da-nko.fina</string>
    <string>da-nko.init</string>
    <string>da-nko.medi</string>
  </array>
  <key>public.kern2.dblhumpR-adlam</key>
  <array>
    <string>ga-adlam</string>
    <string>ya-adlam</string>
  </array>
  <key>public.kern2.e-nko</key>
  <array>
    <string>e-nko</string>
    <string>e-nko.dant.fina</string>
    <string>e-nko.fina</string>
    <string>e-nko.init</string>
    <string>e-nko.medi</string>
  </array>
  <key>public.kern2.ee-nko</key>
  <array>
    <string>ee-nko</string>
    <string>ee-nko.dant.fina</string>
    <string>ee-nko.fina</string>
    <string>ee-nko.init</string>
    <string>ee-nko.medi</string>
  </array>
  <key>public.kern2.ee-nko.init</key>
  <array>
  </array>
  <key>public.kern2.fa-nko</key>
  <array>
    <string>fa-nko</string>
    <string>fa-nko.dant.fina</string>
    <string>fa-nko.fina</string>
    <string>fa-nko.init</string>
    <string>fa-nko.medi</string>
  </array>
  <key>public.kern2.gba-nko</key>
  <array>
    <string>gba-nko</string>
    <string>gba-nko.dant.fina</string>
    <string>gba-nko.fina</string>
    <string>gba-nko.init</string>
    <string>gba-nko.medi</string>
  </array>
  <key>public.kern2.ha-nko</key>
  <array>
    <string>ha-nko</string>
    <string>ha-nko.dant.fina</string>
    <string>ha-nko.fina</string>
    <string>ha-nko.init</string>
    <string>ha-nko.medi</string>
  </array>
  <key>public.kern2.i-nko</key>
  <array>
    <string>i-nko</string>
    <string>i-nko.dant.fina</string>
    <string>i-nko.fina</string>
    <string>i-nko.init</string>
    <string>i-nko.medi</string>
  </array>
  <key>public.kern2.ja-nko</key>
  <array>
    <string>ja-nko</string>
    <string>ja-nko.dant.fina</string>
    <string>ja-nko.fina</string>
    <string>ja-nko.init</string>
    <string>ja-nko.medi</string>
  </array>
  <key>public.kern2.la-nko</key>
  <array>
    <string>la-nko</string>
    <string>la-nko.dant.fina</string>
    <string>la-nko.fina</string>
    <string>la-nko.init</string>
    <string>la-nko.medi</string>
  </array>
  <key>public.kern2.ma-nko</key>
  <array>
    <string>ma-nko</string>
    <string>ma-nko.dant.fina</string>
    <string>ma-nko.fina</string>
    <string>ma-nko.init</string>
    <string>ma-nko.medi</string>
  </array>
  <key>public.kern2.n-nko</key>
  <array>
    <string>n-nko</string>
    <string>n-nko.dant.fina</string>
    <string>n-nko.fina</string>
    <string>n-nko.init</string>
    <string>n-nko.medi</string>
  </array>
  <key>public.kern2.na-nko</key>
  <array>
    <string>na-nko</string>
    <string>na-nko.dant.fina</string>
    <string>na-nko.fina</string>
    <string>na-nko.init</string>
    <string>na-nko.medi</string>
  </array>
  <key>public.kern2.nawoloso-nko</key>
  <array>
    <string>nawoloso-nko</string>
    <string>nawoloso-nko.dant.fina</string>
    <string>nawoloso-nko.fina</string>
    <string>nawoloso-nko.init</string>
    <string>nawoloso-nko.medi</string>
  </array>
  <key>public.kern2.nya-nko</key>
  <array>
    <string>nya-nko</string>
    <string>nya-nko.dant.fina</string>
    <string>nya-nko.fina</string>
    <string>nya-nko.init</string>
    <string>nya-nko.medi</string>
  </array>
  <key>public.kern2.nyawoloso-nko</key>
  <array>
    <string>nyawoloso-nko</string>
    <string>nyawoloso-nko.dant.fina</string>
    <string>nyawoloso-nko.fina</string>
    <string>nyawoloso-nko.init</string>
    <string>nyawoloso-nko.medi</string>
  </array>
  <key>public.kern2.o-nko</key>
  <array>
    <string>o-nko</string>
    <string>o-nko.dant.fina</string>
    <string>o-nko.fina</string>
    <string>o-nko.init</string>
    <string>o-nko.medi</string>
  </array>
  <key>public.kern2.oo-nko</key>
  <array>
    <string>oo-nko</string>
    <string>oo-nko.dant.fina</string>
    <string>oo-nko.fina</string>
    <string>oo-nko.init</string>
    <string>oo-nko.medi</string>
  </array>
  <key>public.kern2.ra-nko</key>
  <array>
    <string>ra-nko</string>
    <string>ra-nko.dant.fina</string>
    <string>ra-nko.fina</string>
    <string>ra-nko.init</string>
    <string>ra-nko.medi</string>
  </array>
  <key>public.kern2.rra-nko</key>
  <array>
    <string>rra-nko</string>
    <string>rra-nko.dant.fina</string>
    <string>rra-nko.fina</string>
    <string>rra-nko.init</string>
    <string>rra-nko.medi</string>
  </array>
  <key>public.kern2.sa-nko</key>
  <array>
    <string>sa-nko</string>
    <string>sa-nko.dant.fina</string>
    <string>sa-nko.fina</string>
    <string>sa-nko.init</string>
    <string>sa-nko.medi</string>
  </array>
  <key>public.kern2.ta-nko</key>
  <array>
    <string>ta-nko</string>
    <string>ta-nko.dant.fina</string>
    <string>ta-nko.fina</string>
    <string>ta-nko.init</string>
    <string>ta-nko.medi</string>
  </array>
  <key>public.kern2.u-nko</key>
  <array>
    <string>u-nko</string>
    <string>u-nko.dant.fina</string>
    <string>u-nko.fina</string>
    <string>u-nko.init</string>
    <string>u-nko.medi</string>
  </array>
  <key>public.kern2.ya-nko</key>
  <array>
    <string>ya-nko</string>
    <string>ya-nko.dant.fina</string>
    <string>ya-nko.fina</string>
    <string>ya-nko.init</string>
    <string>ya-nko.medi</string>
  </array>
</dict>
</plist>
