<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>18</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>caps</key>
      <dict>
        <key>position</key>
        <integer>653</integer>
        <key>width</key>
        <integer>14</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>23</key>
      <dict>
        <key>width</key>
        <integer>23</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>28</key>
      <dict>
        <key>width</key>
        <integer>28</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>31</key>
      <dict>
        <key>width</key>
        <integer>31</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>34</key>
      <dict>
        <key>width</key>
        <integer>34</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>38</key>
      <dict>
        <key>width</key>
        <integer>38</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>43</key>
      <dict>
        <key>width</key>
        <integer>43</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>48</key>
      <dict>
        <key>width</key>
        <integer>48</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>53</key>
      <dict>
        <key>width</key>
        <integer>53</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>60</key>
      <dict>
        <key>width</key>
        <integer>60</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>64</key>
      <dict>
        <key>width</key>
        <integer>64</integer>
        <key>horizontal</key>
        <true/>
      </dict>
    </dict>
  </dict>
  <key>com.typemytype.robofont.italicSlantOffset</key>
  <real>-74</real>
  <key>public.glyphOrder</key>
  <array>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>uni00A0</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>uni00AD</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>mu</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>uni0100</string>
    <string>uni0101</string>
    <string>uni0102</string>
    <string>uni0103</string>
    <string>uni0104</string>
    <string>uni0105</string>
    <string>uni0106</string>
    <string>uni0107</string>
    <string>uni0108</string>
    <string>uni0109</string>
    <string>uni010A</string>
    <string>uni010B</string>
    <string>uni010C</string>
    <string>uni010D</string>
    <string>uni010E</string>
    <string>uni010F</string>
    <string>uni0110</string>
    <string>uni0111</string>
    <string>uni0112</string>
    <string>uni0113</string>
    <string>uni0114</string>
    <string>uni0115</string>
    <string>uni0116</string>
    <string>uni0117</string>
    <string>uni0118</string>
    <string>uni0119</string>
    <string>uni011A</string>
    <string>uni011B</string>
    <string>uni011C</string>
    <string>uni011D</string>
    <string>uni011E</string>
    <string>uni011F</string>
    <string>uni0120</string>
    <string>uni0121</string>
    <string>uni0122</string>
    <string>uni0123</string>
    <string>uni0124</string>
    <string>uni0125</string>
    <string>uni0126</string>
    <string>uni0127</string>
    <string>uni0128</string>
    <string>uni0129</string>
    <string>uni012A</string>
    <string>uni012B</string>
    <string>uni012C</string>
    <string>uni012D</string>
    <string>uni012E</string>
    <string>uni012F</string>
    <string>uni0130</string>
    <string>dotlessi</string>
    <string>uni0132</string>
    <string>uni0133</string>
    <string>uni0134</string>
    <string>uni0135</string>
    <string>uni0136</string>
    <string>uni0137</string>
    <string>uni0138</string>
    <string>uni0139</string>
    <string>uni013A</string>
    <string>uni013B</string>
    <string>uni013C</string>
    <string>uni013D</string>
    <string>uni013E</string>
    <string>uni013F</string>
    <string>uni0140</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>uni0143</string>
    <string>uni0144</string>
    <string>uni0145</string>
    <string>uni0146</string>
    <string>uni0147</string>
    <string>uni0148</string>
    <string>uni0149</string>
    <string>uni014A</string>
    <string>uni014B</string>
    <string>uni014C</string>
    <string>uni014D</string>
    <string>uni014E</string>
    <string>uni014F</string>
    <string>uni0150</string>
    <string>uni0151</string>
    <string>OE</string>
    <string>oe</string>
    <string>uni0154</string>
    <string>uni0155</string>
    <string>uni0156</string>
    <string>uni0157</string>
    <string>uni0158</string>
    <string>uni0159</string>
    <string>uni015A</string>
    <string>uni015B</string>
    <string>uni015C</string>
    <string>uni015D</string>
    <string>uni015E</string>
    <string>uni015F</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>uni0164</string>
    <string>uni0165</string>
    <string>uni0166</string>
    <string>uni0167</string>
    <string>uni0168</string>
    <string>uni0169</string>
    <string>uni016A</string>
    <string>uni016B</string>
    <string>uni016C</string>
    <string>uni016D</string>
    <string>uni016E</string>
    <string>uni016F</string>
    <string>uni0170</string>
    <string>uni0171</string>
    <string>uni0172</string>
    <string>uni0173</string>
    <string>uni0174</string>
    <string>uni0175</string>
    <string>uni0176</string>
    <string>uni0177</string>
    <string>Ydieresis</string>
    <string>uni0179</string>
    <string>uni017A</string>
    <string>uni017B</string>
    <string>uni017C</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>uni017F</string>
    <string>uni0180</string>
    <string>uni0188</string>
    <string>uni0190</string>
    <string>florin</string>
    <string>uni0195</string>
    <string>uni0199</string>
    <string>uni019A</string>
    <string>uni019B</string>
    <string>uni019E</string>
    <string>uni01A0</string>
    <string>uni01A1</string>
    <string>uni01A5</string>
    <string>uni01AA</string>
    <string>uni01AB</string>
    <string>uni01AD</string>
    <string>uni01AF</string>
    <string>uni01B0</string>
    <string>uni01BA</string>
    <string>uni01BB</string>
    <string>uni01BE</string>
    <string>uni01C0</string>
    <string>uni01C1</string>
    <string>uni01C2</string>
    <string>uni01C3</string>
    <string>uni01F0</string>
    <string>uni01FA</string>
    <string>uni01FB</string>
    <string>uni01FC</string>
    <string>uni01FD</string>
    <string>uni01FE</string>
    <string>uni01FF</string>
    <string>uni0237</string>
    <string>uni0250</string>
    <string>uni0251</string>
    <string>uni0252</string>
    <string>uni0253</string>
    <string>uni0254</string>
    <string>uni0255</string>
    <string>uni0256</string>
    <string>uni0257</string>
    <string>uni0258</string>
    <string>uni0259</string>
    <string>uni025A</string>
    <string>uni025B</string>
    <string>uni025C</string>
    <string>uni025D</string>
    <string>uni025E</string>
    <string>uni025F</string>
    <string>uni0260</string>
    <string>uni0261</string>
    <string>uni0262</string>
    <string>uni0263</string>
    <string>uni0264</string>
    <string>uni0265</string>
    <string>uni0266</string>
    <string>uni0267</string>
    <string>uni0268</string>
    <string>uni0269</string>
    <string>uni026A</string>
    <string>uni026B</string>
    <string>uni026C</string>
    <string>uni026D</string>
    <string>uni026E</string>
    <string>uni026F</string>
    <string>uni0270</string>
    <string>uni0271</string>
    <string>uni0272</string>
    <string>uni0273</string>
    <string>uni0274</string>
    <string>uni0275</string>
    <string>uni0276</string>
    <string>uni0277</string>
    <string>uni0278</string>
    <string>uni0279</string>
    <string>uni027A</string>
    <string>uni027B</string>
    <string>uni027C</string>
    <string>uni027D</string>
    <string>uni027E</string>
    <string>uni027F</string>
    <string>uni0280</string>
    <string>uni0281</string>
    <string>uni0282</string>
    <string>uni0283</string>
    <string>uni0284</string>
    <string>uni0285</string>
    <string>uni0286</string>
    <string>uni0287</string>
    <string>uni0288</string>
    <string>uni0289</string>
    <string>uni028A</string>
    <string>uni028B</string>
    <string>uni028C</string>
    <string>uni028D</string>
    <string>uni028E</string>
    <string>uni028F</string>
    <string>uni0290</string>
    <string>uni0291</string>
    <string>uni0292</string>
    <string>uni0293</string>
    <string>uni0294</string>
    <string>uni0295</string>
    <string>uni0296</string>
    <string>uni0297</string>
    <string>uni0298</string>
    <string>uni0299</string>
    <string>uni029A</string>
    <string>uni029B</string>
    <string>uni029C</string>
    <string>uni029D</string>
    <string>uni029E</string>
    <string>uni029F</string>
    <string>uni02A0</string>
    <string>uni02A1</string>
    <string>uni02A2</string>
    <string>uni02A3</string>
    <string>uni02A4</string>
    <string>uni02A5</string>
    <string>uni02A6</string>
    <string>uni02A7</string>
    <string>uni02A8</string>
    <string>uni02B0</string>
    <string>uni02B1</string>
    <string>uni02B2</string>
    <string>uni02B3</string>
    <string>uni02B4</string>
    <string>uni02B5</string>
    <string>uni02B6</string>
    <string>uni02B7</string>
    <string>uni02B8</string>
    <string>uni02BB</string>
    <string>uni02C0</string>
    <string>uni02C1</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>ogonek</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>uni02E0</string>
    <string>uni02E1</string>
    <string>uni02E2</string>
    <string>uni02E3</string>
    <string>uni02E4</string>
    <string>uni02EC</string>
    <string>uni02ED</string>
    <string>uni02F7</string>
    <string>uni0384</string>
    <string>uni0385</string>
    <string>uni0386</string>
    <string>uni0387</string>
    <string>uni0388</string>
    <string>uni0389</string>
    <string>uni038A</string>
    <string>uni038C</string>
    <string>uni038E</string>
    <string>uni038F</string>
    <string>uni0390</string>
    <string>uni0391</string>
    <string>uni0392</string>
    <string>uni0393</string>
    <string>uni0394</string>
    <string>uni0395</string>
    <string>uni0396</string>
    <string>uni0397</string>
    <string>uni0398</string>
    <string>uni0399</string>
    <string>uni039A</string>
    <string>uni039B</string>
    <string>uni039C</string>
    <string>uni039D</string>
    <string>uni039E</string>
    <string>uni039F</string>
    <string>uni03A0</string>
    <string>uni03A1</string>
    <string>uni03A3</string>
    <string>uni03A4</string>
    <string>uni03A5</string>
    <string>uni03A6</string>
    <string>uni03A7</string>
    <string>uni03A8</string>
    <string>uni03A9</string>
    <string>uni03AA</string>
    <string>uni03AB</string>
    <string>uni03AC</string>
    <string>uni03AD</string>
    <string>uni03AE</string>
    <string>uni03AF</string>
    <string>uni03B0</string>
    <string>uni03B1</string>
    <string>uni03B2</string>
    <string>uni03B3</string>
    <string>uni03B4</string>
    <string>uni03B5</string>
    <string>uni03B6</string>
    <string>uni03B7</string>
    <string>uni03B8</string>
    <string>uni03B9</string>
    <string>uni03BA</string>
    <string>uni03BB</string>
    <string>uni03BC</string>
    <string>uni03BD</string>
    <string>uni03BE</string>
    <string>uni03BF</string>
    <string>uni03C0</string>
    <string>uni03C1</string>
    <string>uni03C2</string>
    <string>uni03C3</string>
    <string>uni03C4</string>
    <string>uni03C5</string>
    <string>uni03C6</string>
    <string>uni03C7</string>
    <string>uni03C8</string>
    <string>uni03C9</string>
    <string>uni03CA</string>
    <string>uni03CB</string>
    <string>uni03CC</string>
    <string>uni03CD</string>
    <string>uni03CE</string>
    <string>uni03D0</string>
    <string>uni03D1</string>
    <string>uni03D2</string>
    <string>uni03D5</string>
    <string>uni03D6</string>
    <string>uni03D8</string>
    <string>uni03D9</string>
    <string>uni03DA</string>
    <string>uni03DB</string>
    <string>uni03DC</string>
    <string>uni03DD</string>
    <string>uni03DE</string>
    <string>uni03DF</string>
    <string>uni03E0</string>
    <string>uni03E1</string>
    <string>uni03F0</string>
    <string>uni03F1</string>
    <string>uni03F4</string>
    <string>uni03F5</string>
    <string>uni03F6</string>
    <string>uni0401</string>
    <string>uni0402</string>
    <string>uni0403</string>
    <string>uni0404</string>
    <string>uni0405</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni0408</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni040B</string>
    <string>uni040C</string>
    <string>uni040E</string>
    <string>uni040F</string>
    <string>uni0410</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0414</string>
    <string>uni0415</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0423</string>
    <string>uni0424</string>
    <string>uni0425</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
    <string>uni0430</string>
    <string>uni0431</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0435</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043C</string>
    <string>uni043D</string>
    <string>uni043E</string>
    <string>uni043F</string>
    <string>uni0440</string>
    <string>uni0441</string>
    <string>uni0442</string>
    <string>uni0443</string>
    <string>uni0444</string>
    <string>uni0445</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044D</string>
    <string>uni044E</string>
    <string>uni044F</string>
    <string>uni0451</string>
    <string>uni0452</string>
    <string>uni0453</string>
    <string>uni0454</string>
    <string>uni0455</string>
    <string>uni0456</string>
    <string>uni0457</string>
    <string>uni0458</string>
    <string>uni0459</string>
    <string>uni045A</string>
    <string>uni045B</string>
    <string>uni045C</string>
    <string>uni045E</string>
    <string>uni045F</string>
    <string>uni0462</string>
    <string>uni0463</string>
    <string>uni046A</string>
    <string>uni046B</string>
    <string>uni0472</string>
    <string>uni0473</string>
    <string>uni0474</string>
    <string>uni0475</string>
    <string>uni0490</string>
    <string>uni0491</string>
    <string>uni1E80</string>
    <string>uni1E81</string>
    <string>uni1E82</string>
    <string>uni1E83</string>
    <string>uni1E84</string>
    <string>uni1E85</string>
    <string>uni1EF2</string>
    <string>uni1EF3</string>
    <string>uni2010</string>
    <string>uni2011</string>
    <string>figuredash</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>uni201B</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>uni201F</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>uni2031</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>uni203E</string>
    <string>fraction</string>
    <string>uni20A3</string>
    <string>uni20A4</string>
    <string>uni20A7</string>
    <string>uni20AC</string>
    <string>uni20D0</string>
    <string>uni20D1</string>
    <string>uni20D2</string>
    <string>uni20D6</string>
    <string>uni20D7</string>
    <string>uni20DB</string>
    <string>uni20DC</string>
    <string>uni20DD</string>
    <string>uni20E1</string>
    <string>uni20E4</string>
    <string>uni20E5</string>
    <string>uni20E6</string>
    <string>uni20E7</string>
    <string>uni20E8</string>
    <string>uni20E9</string>
    <string>uni20EA</string>
    <string>uni20EC</string>
    <string>uni20ED</string>
    <string>uni20EE</string>
    <string>uni20EF</string>
    <string>uni2102</string>
    <string>uni2105</string>
    <string>uni210A</string>
    <string>uni210B</string>
    <string>uni210D</string>
    <string>uni210E</string>
    <string>uni2110</string>
    <string>uni2112</string>
    <string>uni2113</string>
    <string>uni2115</string>
    <string>uni2116</string>
    <string>uni2119</string>
    <string>uni211A</string>
    <string>uni211B</string>
    <string>uni211D</string>
    <string>trademark</string>
    <string>uni2124</string>
    <string>uni212C</string>
    <string>uni212F</string>
    <string>uni2130</string>
    <string>uni2131</string>
    <string>uni2133</string>
    <string>uni2134</string>
    <string>uni213C</string>
    <string>uni213F</string>
    <string>uni2145</string>
    <string>uni2146</string>
    <string>uni2147</string>
    <string>uni2148</string>
    <string>uni2149</string>
    <string>uni2202</string>
    <string>minus</string>
    <string>uni2423</string>
    <string>uni2460</string>
    <string>uni2461</string>
    <string>uni2462</string>
    <string>uni2463</string>
    <string>uni2464</string>
    <string>uni2465</string>
    <string>uni2466</string>
    <string>uni2467</string>
    <string>uni2468</string>
    <string>uni24B6</string>
    <string>uni24B7</string>
    <string>uni24B8</string>
    <string>uni24B9</string>
    <string>uni24BA</string>
    <string>uni24BB</string>
    <string>uni24BC</string>
    <string>uni24BD</string>
    <string>uni24BE</string>
    <string>uni24BF</string>
    <string>uni24C0</string>
    <string>uni24C1</string>
    <string>uni24C2</string>
    <string>uni24C3</string>
    <string>uni24C4</string>
    <string>uni24C5</string>
    <string>uni24C6</string>
    <string>uni24C7</string>
    <string>uni24C8</string>
    <string>uni24C9</string>
    <string>uni24CA</string>
    <string>uni24CB</string>
    <string>uni24CC</string>
    <string>uni24CD</string>
    <string>uni24CE</string>
    <string>uni24CF</string>
    <string>uni24D0</string>
    <string>uni24D1</string>
    <string>uni24D2</string>
    <string>uni24D3</string>
    <string>uni24D4</string>
    <string>uni24D5</string>
    <string>uni24D6</string>
    <string>uni24D7</string>
    <string>uni24D8</string>
    <string>uni24D9</string>
    <string>uni24DA</string>
    <string>uni24DB</string>
    <string>uni24DC</string>
    <string>uni24DD</string>
    <string>uni24DE</string>
    <string>uni24DF</string>
    <string>uni24E0</string>
    <string>uni24E1</string>
    <string>uni24E2</string>
    <string>uni24E3</string>
    <string>uni24E4</string>
    <string>uni24E5</string>
    <string>uni24E6</string>
    <string>uni24E7</string>
    <string>uni24E8</string>
    <string>uni24E9</string>
    <string>uni24EA</string>
    <string>uni2500</string>
    <string>uni2502</string>
    <string>uni250C</string>
    <string>uni2510</string>
    <string>uni2514</string>
    <string>uni2518</string>
    <string>uni251C</string>
    <string>uni2524</string>
    <string>uni252C</string>
    <string>uni2534</string>
    <string>uni253C</string>
    <string>uni2550</string>
    <string>uni2551</string>
    <string>uni2552</string>
    <string>uni2553</string>
    <string>uni2554</string>
    <string>uni2555</string>
    <string>uni2556</string>
    <string>uni2557</string>
    <string>uni2558</string>
    <string>uni2559</string>
    <string>uni255A</string>
    <string>uni255B</string>
    <string>uni255C</string>
    <string>uni255D</string>
    <string>uni255E</string>
    <string>uni255F</string>
    <string>uni2560</string>
    <string>uni2561</string>
    <string>uni2562</string>
    <string>uni2563</string>
    <string>uni2564</string>
    <string>uni2565</string>
    <string>uni2566</string>
    <string>uni2567</string>
    <string>uni2568</string>
    <string>uni2569</string>
    <string>uni256A</string>
    <string>uni256B</string>
    <string>uni256C</string>
    <string>ff</string>
    <string>fi</string>
    <string>fl</string>
    <string>ffi</string>
    <string>ffl</string>
    <string>f_j</string>
    <string>zero.onum</string>
    <string>one.onum</string>
    <string>two.onum</string>
    <string>three.onum</string>
    <string>four.onum</string>
    <string>five.onum</string>
    <string>six.onum</string>
    <string>seven.onum</string>
    <string>eight.onum</string>
    <string>nine.onum</string>
    <string>i.TRK</string>
    <string>minute</string>
    <string>second</string>
    <string>zero.sups</string>
    <string>one.sups</string>
    <string>two.sups</string>
    <string>three.sups</string>
    <string>four.sups</string>
    <string>five.sups</string>
    <string>six.sups</string>
    <string>seven.sups</string>
    <string>eight.sups</string>
    <string>nine.sups</string>
    <string>f_f_j</string>
    <string>zero.sinf</string>
    <string>one.sinf</string>
    <string>two.sinf</string>
    <string>three.sinf</string>
    <string>four.sinf</string>
    <string>five.sinf</string>
    <string>six.sinf</string>
    <string>seven.sinf</string>
    <string>eight.sinf</string>
    <string>nine.sinf</string>
    <string>uni0218</string>
    <string>scommaaccent</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>zero.onum.ss11</string>
    <string>one.onum.ss11</string>
    <string>two.onum.ss11</string>
    <string>three.onum.ss11</string>
    <string>four.onum.ss11</string>
    <string>five.onum.ss11</string>
    <string>six.onum.ss11</string>
    <string>seven.onum.ss11</string>
    <string>eight.onum.ss11</string>
    <string>nine.onum.ss11</string>
    <string>CR</string>
    <string>uni03B1.rtlm</string>
    <string>uni03B2.rtlm</string>
    <string>uni03B3.rtlm</string>
    <string>uni03B8.rtlm</string>
    <string>uni03C6.rtlm</string>
    <string>commareversed</string>
    <string>question-ar</string>
    <string>a-nko</string>
    <string>ee-nko</string>
    <string>i-nko</string>
    <string>e-nko</string>
    <string>u-nko</string>
    <string>oo-nko</string>
    <string>o-nko</string>
    <string>n-nko</string>
    <string>ba-nko</string>
    <string>pa-nko</string>
    <string>ta-nko</string>
    <string>ja-nko</string>
    <string>cha-nko</string>
    <string>da-nko</string>
    <string>ra-nko</string>
    <string>rra-nko</string>
    <string>sa-nko</string>
    <string>gba-nko</string>
    <string>fa-nko</string>
    <string>ka-nko</string>
    <string>la-nko</string>
    <string>nawoloso-nko</string>
    <string>ma-nko</string>
    <string>nya-nko</string>
    <string>na-nko</string>
    <string>ha-nko</string>
    <string>wa-nko</string>
    <string>ya-nko</string>
    <string>nyawoloso-nko</string>
    <string>a-nko.init</string>
    <string>ee-nko.init</string>
    <string>i-nko.init</string>
    <string>e-nko.init</string>
    <string>u-nko.init</string>
    <string>oo-nko.init</string>
    <string>o-nko.init</string>
    <string>n-nko.init</string>
    <string>ba-nko.init</string>
    <string>pa-nko.init</string>
    <string>ta-nko.init</string>
    <string>ja-nko.init</string>
    <string>cha-nko.init</string>
    <string>da-nko.init</string>
    <string>ra-nko.init</string>
    <string>rra-nko.init</string>
    <string>sa-nko.init</string>
    <string>gba-nko.init</string>
    <string>fa-nko.init</string>
    <string>ka-nko.init</string>
    <string>la-nko.init</string>
    <string>nawoloso-nko.init</string>
    <string>ma-nko.init</string>
    <string>nya-nko.init</string>
    <string>na-nko.init</string>
    <string>ha-nko.init</string>
    <string>wa-nko.init</string>
    <string>ya-nko.init</string>
    <string>nyawoloso-nko.init</string>
    <string>a-nko.medi</string>
    <string>ee-nko.medi</string>
    <string>i-nko.medi</string>
    <string>e-nko.medi</string>
    <string>u-nko.medi</string>
    <string>oo-nko.medi</string>
    <string>o-nko.medi</string>
    <string>n-nko.medi</string>
    <string>ba-nko.medi</string>
    <string>pa-nko.medi</string>
    <string>ta-nko.medi</string>
    <string>ja-nko.medi</string>
    <string>cha-nko.medi</string>
    <string>da-nko.medi</string>
    <string>ra-nko.medi</string>
    <string>rra-nko.medi</string>
    <string>sa-nko.medi</string>
    <string>gba-nko.medi</string>
    <string>fa-nko.medi</string>
    <string>ka-nko.medi</string>
    <string>la-nko.medi</string>
    <string>nawoloso-nko.medi</string>
    <string>ma-nko.medi</string>
    <string>nya-nko.medi</string>
    <string>na-nko.medi</string>
    <string>ha-nko.medi</string>
    <string>wa-nko.medi</string>
    <string>ya-nko.medi</string>
    <string>nyawoloso-nko.medi</string>
    <string>a-nko.fina</string>
    <string>ee-nko.fina</string>
    <string>i-nko.fina</string>
    <string>e-nko.fina</string>
    <string>u-nko.fina</string>
    <string>oo-nko.fina</string>
    <string>o-nko.fina</string>
    <string>n-nko.fina</string>
    <string>ba-nko.fina</string>
    <string>pa-nko.fina</string>
    <string>ta-nko.fina</string>
    <string>ja-nko.fina</string>
    <string>cha-nko.fina</string>
    <string>da-nko.fina</string>
    <string>ra-nko.fina</string>
    <string>rra-nko.fina</string>
    <string>sa-nko.fina</string>
    <string>gba-nko.fina</string>
    <string>fa-nko.fina</string>
    <string>ka-nko.fina</string>
    <string>la-nko.fina</string>
    <string>nawoloso-nko.fina</string>
    <string>ma-nko.fina</string>
    <string>nya-nko.fina</string>
    <string>na-nko.fina</string>
    <string>ha-nko.fina</string>
    <string>wa-nko.fina</string>
    <string>ya-nko.fina</string>
    <string>nyawoloso-nko.fina</string>
    <string>shorthightonecomb-nko</string>
    <string>shortlowtonecomb-nko</string>
    <string>shortrisingtonecomb-nko</string>
    <string>longdescendingtonecomb-nko</string>
    <string>longhightonecomb-nko</string>
    <string>longlowtonecomb-nko</string>
    <string>longrisingtonecomb-nko</string>
    <string>nasalizationcomb-nko</string>
    <string>doubledotabovecomb-nko</string>
    <string>dagbasinna-nko</string>
    <string>hightoneapostrophe-nko</string>
    <string>lowtoneapostrophe-nko</string>
    <string>lajanyalan-nko</string>
    <string>comma-nko</string>
    <string>dantayalan-nko</string>
    <string>dantayalanright-nko</string>
    <string>dantayalanleft-nko</string>
    <string>a-nko.dant.fina</string>
    <string>ee-nko.dant.fina</string>
    <string>i-nko.dant.fina</string>
    <string>e-nko.dant.fina</string>
    <string>u-nko.dant.fina</string>
    <string>oo-nko.dant.fina</string>
    <string>o-nko.dant.fina</string>
    <string>n-nko.dant.fina</string>
    <string>ba-nko.dant.fina</string>
    <string>pa-nko.dant.fina</string>
    <string>ta-nko.dant.fina</string>
    <string>ja-nko.dant.fina</string>
    <string>cha-nko.dant.fina</string>
    <string>da-nko.dant.fina</string>
    <string>ra-nko.dant.fina</string>
    <string>rra-nko.dant.fina</string>
    <string>sa-nko.dant.fina</string>
    <string>gba-nko.dant.fina</string>
    <string>fa-nko.dant.fina</string>
    <string>ka-nko.dant.fina</string>
    <string>la-nko.dant.fina</string>
    <string>nawoloso-nko.dant.fina</string>
    <string>ma-nko.dant.fina</string>
    <string>nya-nko.dant.fina</string>
    <string>na-nko.dant.fina</string>
    <string>ha-nko.dant.fina</string>
    <string>wa-nko.dant.fina</string>
    <string>ya-nko.dant.fina</string>
    <string>nyawoloso-nko.dant.fina</string>
    <string>a-nko.dant</string>
    <string>ee-nko.dant</string>
    <string>i-nko.dant</string>
    <string>e-nko.dant</string>
    <string>u-nko.dant</string>
    <string>oo-nko.dant</string>
    <string>o-nko.dant</string>
    <string>n-nko.dant</string>
    <string>ba-nko.dant</string>
    <string>pa-nko.dant</string>
    <string>ta-nko.dant</string>
    <string>ja-nko.dant</string>
    <string>cha-nko.dant</string>
    <string>da-nko.dant</string>
    <string>ra-nko.dant</string>
    <string>rra-nko.dant</string>
    <string>sa-nko.dant</string>
    <string>gba-nko.dant</string>
    <string>fa-nko.dant</string>
    <string>ka-nko.dant</string>
    <string>la-nko.dant</string>
    <string>nawoloso-nko.dant</string>
    <string>ma-nko.dant</string>
    <string>nya-nko.dant</string>
    <string>na-nko.dant</string>
    <string>ha-nko.dant</string>
    <string>wa-nko.dant</string>
    <string>ya-nko.dant</string>
    <string>nyawoloso-nko.dant</string>
    <string>zero-nko</string>
    <string>one-nko</string>
    <string>two-nko</string>
    <string>three-nko</string>
    <string>four-nko</string>
    <string>five-nko</string>
    <string>six-nko</string>
    <string>seven-nko</string>
    <string>eight-nko</string>
    <string>nine-nko</string>
    <string>percent.nko</string>
    <string>perthousand.nko</string>
    <string>space.nko</string>
    <string>parenleft.nko</string>
    <string>parenright.nko</string>
    <string>bracketright.nko</string>
    <string>bracketleft.nko</string>
    <string>Alif-adlam</string>
    <string>Daali-adlam</string>
    <string>Laam-adlam</string>
    <string>Miim-adlam</string>
    <string>Ba-adlam</string>
    <string>Sinnyiiyhe-adlam</string>
    <string>Pe-adlam</string>
    <string>Bhe-adlam</string>
    <string>Ra-adlam</string>
    <string>E-adlam</string>
    <string>Fa-adlam</string>
    <string>I-adlam</string>
    <string>O-adlam</string>
    <string>Dha-adlam</string>
    <string>Yhe-adlam</string>
    <string>Waw-adlam</string>
    <string>Nun-adlam</string>
    <string>Kaf-adlam</string>
    <string>Ya-adlam</string>
    <string>U-adlam</string>
    <string>Jiim-adlam</string>
    <string>Chi-adlam</string>
    <string>Ha-adlam</string>
    <string>Qaaf-adlam</string>
    <string>Ga-adlam</string>
    <string>Nya-adlam</string>
    <string>Tu-adlam</string>
    <string>Nha-adlam</string>
    <string>Va-adlam</string>
    <string>Kha-adlam</string>
    <string>Gbe-adlam</string>
    <string>Zal-adlam</string>
    <string>Kpo-adlam</string>
    <string>Sha-adlam</string>
    <string>alif-adlam</string>
    <string>daali-adlam</string>
    <string>laam-adlam</string>
    <string>miim-adlam</string>
    <string>ba-adlam</string>
    <string>sinnyiiyhe-adlam</string>
    <string>pe-adlam</string>
    <string>bhe-adlam</string>
    <string>ra-adlam</string>
    <string>e-adlam</string>
    <string>fa-adlam</string>
    <string>i-adlam</string>
    <string>o-adlam</string>
    <string>dha-adlam</string>
    <string>yhe-adlam</string>
    <string>waw-adlam</string>
    <string>nun-adlam</string>
    <string>kaf-adlam</string>
    <string>ya-adlam</string>
    <string>u-adlam</string>
    <string>jiim-adlam</string>
    <string>chi-adlam</string>
    <string>ha-adlam</string>
    <string>qaaf-adlam</string>
    <string>ga-adlam</string>
    <string>nya-adlam</string>
    <string>tu-adlam</string>
    <string>nha-adlam</string>
    <string>va-adlam</string>
    <string>kha-adlam</string>
    <string>gbe-adlam</string>
    <string>zal-adlam</string>
    <string>kpo-adlam</string>
    <string>sha-adlam</string>
    <string>exclam-adlam</string>
    <string>question-adlam</string>
    <string>aliflengthencomb-adlam</string>
    <string>aliflengthencomb-adlam.case</string>
    <string>vowellengthencomb-adlam</string>
    <string>vowellengthencomb-adlam.case</string>
    <string>gemination-adlam</string>
    <string>gemination-adlam.case</string>
    <string>gemination-adlam.wide</string>
    <string>gemination-adlam.wide.case</string>
    <string>hamza-adlam</string>
    <string>consonantmodcomb-adlam</string>
    <string>gemconsonantmodcomb-adlam</string>
    <string>hoortobbhere-adlam</string>
    <string>lestobbhere-adlam</string>
    <string>zero-adlam</string>
    <string>one-adlam</string>
    <string>two-adlam</string>
    <string>three-adlam</string>
    <string>four-adlam</string>
    <string>five-adlam</string>
    <string>six-adlam</string>
    <string>seven-adlam</string>
    <string>eight-adlam</string>
    <string>nine-adlam</string>
    <string>percent.adlam</string>
    <string>perthousand.adlam</string>
  </array>
</dict>
</plist>
